[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
requests = "*"
pandas = "*"
ipykernel = "*"
neovim = "*"
pynvim = "*"

[requires]
python_version = "3.8"
